html {
  font-size: 10px;
}

.header {
  background-color: black;
  width: 100vw;
}

.header h1 {
  padding: 1rem;
  font-size: 3.8rem;
  text-align: center;
  color: whitesmoke;
}

.app-container {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.search-form {
  position: absolute;
  top: 30rem;
  width: 80vw;
  transition: transform 300ms;
}

.search-form h2 {
  color: red;
  margin-top: 1rem;
}

.search-bar {
  width: 100%;
}

.search-input {
  width: 100%;
  font-size: 1.8rem !important;
}

#spinner {
  position: absolute;
  top: 40%;
  left: 50%;
}
.image-list {
  position: absolute;
  top: 20rem;
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /** creates set of columns, 
    auto-fill : grid system decides how many columns**/
  grid-gap: 0 0px;
  grid-auto-rows: 5.2px; /** how tall each row will be **/
  grid-auto-flow: dense;
  justify-items: center;
}

.image-list img {
  width: 200px;
}

@media (min-width: 992px) {
  /* .body-style {
    width: 60vw;
    margin: 0 auto;
    top: 20%;
  } */
}
